<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="categoryColumn">
            <entry key="selected" type="xstring" value="Severity_Severe"/>
            <config key="compatibleTypes_Internals">
                <entry key="array-size" type="xint" value="3"/>
                <entry key="0" type="xstring" value="org.knime.core.data.StringValue"/>
                <entry key="1" type="xstring" value="org.knime.core.data.DataValue"/>
                <entry key="2" type="xstring" value="org.knime.core.data.NominalValue"/>
            </config>
        </config>
        <entry key="aggregationMethod" type="xstring" value="COUNT"/>
        <config key="frequencyColumns">
            <config key="selected_Internals">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="mode" type="xstring" value="MANUAL"/>
            <config key="patternFilter">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="isCaseSensitive" type="xboolean" value="false"/>
                <entry key="isInverted" type="xboolean" value="false"/>
            </config>
            <config key="manualFilter">
                <config key="manuallySelected">
                    <entry key="array-size" type="xint" value="0"/>
                </config>
                <config key="manuallyDeselected">
                    <entry key="array-size" type="xint" value="25"/>
                    <entry key="0" type="xstring" value="Fever"/>
                    <entry key="1" type="xstring" value="Tiredness"/>
                    <entry key="2" type="xstring" value="Dry-Cough"/>
                    <entry key="3" type="xstring" value="Difficulty-in-Breathing"/>
                    <entry key="4" type="xstring" value="Sore-Throat"/>
                    <entry key="5" type="xstring" value="None_Sympton"/>
                    <entry key="6" type="xstring" value="Pains"/>
                    <entry key="7" type="xstring" value="Nasal-Congestion"/>
                    <entry key="8" type="xstring" value="Runny-Nose"/>
                    <entry key="9" type="xstring" value="Diarrhea"/>
                    <entry key="10" type="xstring" value="None_Experiencing"/>
                    <entry key="11" type="xstring" value="Age_0-9"/>
                    <entry key="12" type="xstring" value="Age_10-19"/>
                    <entry key="13" type="xstring" value="Age_20-24"/>
                    <entry key="14" type="xstring" value="Age_25-59"/>
                    <entry key="15" type="xstring" value="Age_60+"/>
                    <entry key="16" type="xstring" value="Gender_Female"/>
                    <entry key="17" type="xstring" value="Gender_Male"/>
                    <entry key="18" type="xstring" value="Gender_Transgender"/>
                    <entry key="19" type="xstring" value="Severity_Mild"/>
                    <entry key="20" type="xstring" value="Severity_Moderate"/>
                    <entry key="21" type="xstring" value="Severity_None"/>
                    <entry key="22" type="xstring" value="Contact_Dont-Know"/>
                    <entry key="23" type="xstring" value="Contact_No"/>
                    <entry key="24" type="xstring" value="Contact_Yes"/>
                </config>
                <entry key="includeUnknownColumns" type="xboolean" value="false"/>
            </config>
            <config key="typeFilter">
                <config key="selectedTypes">
                    <entry key="array-size" type="xint" value="0"/>
                </config>
            </config>
        </config>
        <entry key="generateImage" type="xboolean" value="false"/>
        <entry key="width" type="xint" value="800"/>
        <entry key="height" type="xint" value="600"/>
    </config>
    <config key="view">
        <entry key="allowImageDownload" type="xboolean" value="true"/>
        <entry key="categoryAxisLabel" type="xstring" isnull="true" value=""/>
        <entry key="chartType" type="xstring" value="GROUPED"/>
        <entry key="direction" type="xstring" value="VERTICAL"/>
        <entry key="enableAnimation" type="xboolean" value="true"/>
        <entry key="frequencyAxisLabel" type="xstring" isnull="true" value=""/>
        <entry key="publishSelection" type="xboolean" value="true"/>
        <entry key="showLegend" type="xboolean" value="true"/>
        <entry key="showTooltip" type="xboolean" value="true"/>
        <entry key="showValues" type="xboolean" value="true"/>
        <entry key="subscribeToSelection" type="xboolean" value="true"/>
        <entry key="title" type="xstring" value="Severidad Severa"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.views.node.barchart.BarChartNodeFactory"/>
    <entry key="node-name" type="xstring" value="Bar Chart"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Views"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base.views"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.1.1.v202308221556"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Views"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.views.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.1.1.v202308221556"/>
    <config key="factory_settings"/>
    <config key="node_creation_config">
        <config key="Input Table"/>
        <config key="Output Image"/>
    </config>
    <entry key="name" type="xstring" value="Bar Chart"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports"/>
    <config key="internalObjects">
        <entry key="location" type="xstring" value="internalTables"/>
        <config key="content">
            <config key="object_0">
                <entry key="index" type="xint" value="0"/>
                <entry key="type" type="xstring" value="table"/>
                <entry key="table_dir_location" type="xstring" value="object_0"/>
            </config>
            <config key="object_1">
                <entry key="index" type="xint" value="1"/>
                <entry key="type" type="xstring" value="table"/>
                <entry key="table_dir_location" type="xstring" value="object_1"/>
            </config>
            <config key="object_2">
                <entry key="index" type="xint" value="2"/>
                <entry key="type" type="xstring" value="table"/>
                <entry key="table_dir_location" type="xstring" value="object_2"/>
            </config>
            <config key="object_3">
                <entry key="index" type="xint" value="3"/>
                <entry key="type" type="xstring" value="table"/>
                <entry key="table_dir_location" type="xstring" value="object_3"/>
            </config>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="a0746e95-236c-4acd-8d47-d9353d91f027"/>
    </config>
</config>
